html,
body {
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	background: white;
}

#canvas {
	overflow: hidden;
	width: 100%;
	height: 100%;
}

#canvas svg:focus {
	outline: none;
}

/* COLOR PICKER */

.djs-popup.color-picker .entry {
	margin: 0;
}

.djs-popup.color-picker .djs-popup-group {
	display: grid;
	grid: auto-flow / 1fr 1fr 1fr;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal-content {
	position: relative;
	min-width: 300px;
	min-height: 100px;
	max-height: 600px;
	background-color: white;
	padding: 20px;
	margin-left: 20px;
	margin-right: 20px;
	border-radius: 5px;
	text-align: center;
}

.close-popup {
	position: absolute;
	top: 0px;
	right: 10px;
	font-size: 24px;
	cursor: pointer;
}

.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: auto;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px;

	/* Position the tooltip */
	position: absolute;
	z-index: 1;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}

#element-parameters {
	display: flex;
	flex-direction: column;
	max-height: 500px;
	overflow-y: auto;
	word-wrap: break-word;
	overflow-x: hidden;
}

#propertyModal {
	scrollbar-color: #888 #f1f1f1;
}

#filter-display {
	display: flex;
	flex-direction: column;
	/* Гарантирует, что элементы идут друг за другом */
	align-items: flex-start;
	/* Выравнивание элементов слева */
}

#filter-list {
	width: 100%;
	margin-top: 10px;
	list-style-type: none;
	/* Если нужно убрать маркеры списка */
}

#parameters-display {
	display: flex;
	flex-direction: column;
	/* Гарантирует, что элементы идут друг за другом */
	align-items: flex-start;
	/* Выравнивание элементов слева */
}

  #parameters-list {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    list-style: none;
    padding: 0;
  }

  #parameters-list li {
    display: contents; /* Позволяет элементам быть частью сетки */
  }

  .key {
    font-weight: bold;
    padding: 5px;
    border: 1px solid #ccc;
	border-radius: 5px;
    background-color: #f0f0f0;
    text-align: left;
	display: flex;
	align-items: center;
  }

  .value {
    padding: 5px;
    border: 1px solid #ccc;
	border-radius: 5px;
    background-color: #f9f9f9;
    text-align: left;
  }

pre {
	max-height: 430px;
	overflow-y: auto;
	border-radius: 5px;
	overflow-x: hidden !important;
}

code[class*="language-"],
pre[class*="language-"] {
	white-space: pre-wrap !important;
}

.general-conteiner {
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: stretch;
	background-color: #f5f2f0;
	padding: 10px;
	border-radius: 5px;
}

.vl {
    border-left: 2px solid black;
    min-height: 20px;
	margin-left: 10px;
	margin-right: 10px;
}

.childs-conteiner {
    height: 100%;
    display: flex;
	gap: 15px;
    justify-content: center;
	flex-direction: column;
}

#logicaloperation {
    align-self: center;
}

#loading-mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.loader {
    border: 3px solid #f3f3f3;
    border-top: 3px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}